

<div class="content-container">
  <h2>Projects Assigned to PM</h2>
  <p>my-project-to-pm works!</p>

 
  
  <form (ngSubmit)="onSubmit()" class="google-form">
    <div class="form-field">
      <input type="text" name="listName" [(ngModel)]="formData.listName" placeholder="List Name" required>
    </div>
    <div class="form-field">
      <input type="text" name="listElements" [(ngModel)]="formData.listElements" placeholder="Elements (e.g. 1,2,3)" required>
    </div>
    <button type="submit" [disabled]="mutation.isPending()">
      {{ mutation.isPending() ? 'Adding...' : 'Add Project' }}
    </button>
  </form>

  <hr>

  <h2>Projects Assigned to PM</h2>
  @if (query.data(); as projects) {
  <ul class="user-list">
  @for (project of projects; track $index) {
    <li>
      ({{ project.listName }}) {{ project.listElements }}
    </li>
  } @empty {
    <li>No projects assigned.</li>
  }
</ul>
  }
 
</div>