<div class="app-wrapper">

  <header class="top-nav">
    <div class="nav-left">

      <span class="app-title">Todos</span>


    </div>

    <div class="nav-center">
      <div *ngIf="currentProjectId" class="active-project-tag">
        Owner {{ projectOwner }}
        List {{ projectList }}
        Project {{ currentProjectId }}
      </div>
    </div>

    <div class="nav-right">


      <p [routerLink]="['/ProjectList']"
        [queryParams]="{ projectId: currentProjectId, projectOwner: projectOwner , projectList: projectList }"
        routerLinkActive="active">
        <span class="material-icons">list</span>
        <span>Projects</span>
      </p>
    </div>


  </header>


  <div class="app-container">
    <!-- <aside class="left-menu" [ngClass]="{ 'collapsed': isSidebarCollapsed }"> -->
    <aside class="left-menu" [class.collapsed]="isSidebarCollapsed" (mouseenter)="isSidebarCollapsed = false"
      (mouseleave)="isSidebarCollapsed = true">

      <nav>
        <ul>
          <li [routerLink]="['/ProjectList']"
            [queryParams]="{ projectId: currentProjectId, projectOwner: projectOwner , projectList: projectList }"
            routerLinkActive="active">
            <span class="material-icons">list</span>
            <span *ngIf="!isSidebarCollapsed">Projects</span>
          </li>

          <!-- <li routerLink="/users" [queryParams]="{ projectId: currentProjectId }" routerLinkActive="active">
            <span class="material-icons">group</span>
            <span>Users</span>
          </li> -->
          <li [routerLink]="['/projects']"
            [queryParams]="{ projectId: currentProjectId, projectOwner: projectOwner , projectList: projectList }"
            routerLinkActive="active">
            <span class="material-icons">list_alt</span>
            <span *ngIf="!isSidebarCollapsed">Tasks </span>
          </li>

                    <li [routerLink]="['/tasks']"
            [queryParams]="{ projectId: currentProjectId, projectOwner: projectOwner , projectList: projectList }"
            routerLinkActive="active">
            <span class="material-icons">list_alt</span>
            <span *ngIf="!isSidebarCollapsed">Tasks tasks </span>
          </li>
 
 
          
          <!-- MyProjects -->
          <!-- 'project-owner': rowData.Owner,
        'project-list': rowData.Name -->

          <!-- projectOwner : string | null = null;
  projectList : string | null = null; -->

          <!-- <li [routerLink]="['/sqlparser']" [queryParams]="{ projectId: currentProjectId }" routerLinkActive="active">
            <span class="material-icons"></span> sqlparser </li> -->
          <!-- <li routerLink="/settings" [queryParams]="{ projectId: currentProjectId }" routerLinkActive="active">
            <span class="material-icons">settings</span>
            <span>Settings</span>
          </li> -->


        </ul>
      </nav>
    </aside>

    <main class="main-content">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>