.user-list {
  list-style: none;
  padding: 0;
  border-top: 1px solid #eee;
}

.user-list li {
  display: flex;
  align-items: center;
  padding: 12px 0;
  border-bottom: 1px solid #eee;
  color: #3c4043;
}

.avatar {
  width: 32px;
  height: 32px;
  background-color: #1a73e8;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
  font-weight: bold;
}